body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("src/img/fantasy-platformer-game-ui/PNG/01main/bg.png") center;
    background-size: cover;
    font-family: "AniMe Matrix - MB_EN", Arial, sans-serif;
}

h1 {
    color: black;
    font-size: 64px;
    margin-top: 36px;
    text-shadow: 4px 4px 8px dimgrey;
}

canvas {
    background-color: black;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.fullscreen-icon {
    position: absolute;
    top: 66%;
    left: 73%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 10;
}

:fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; 
  left:0;
  object-fit: contain;
  background: none;
}